Package: ws.hbang.aphelion
Name: Aphelion
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: HASHBANG Productions
Author: HASHBANG Productions
Section: Utilities
