<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characters_reserved_per_media</key>
	<string>23</string>
	<key>max_media_per_upload</key>
	<string>1</string>
	<key>non_username_paths</key>
	<array>
		<string>about</string>
		<string>account</string>
		<string>accounts</string>
		<string>activity</string>
		<string>all</string>
		<string>announcements</string>
		<string>anywhere</string>
		<string>api_rules</string>
		<string>api_terms</string>
		<string>apirules</string>
		<string>apps</string>
		<string>auth</string>
		<string>badges</string>
		<string>blog</string>
		<string>business</string>
		<string>buttons</string>
		<string>contacts</string>
		<string>devices</string>
		<string>direct_messages</string>
		<string>download</string>
		<string>downloads</string>
		<string>edit_announcements</string>
		<string>faq</string>
		<string>favorites</string>
		<string>find_sources</string>
		<string>find_users</string>
		<string>followers</string>
		<string>following</string>
		<string>friend_request</string>
		<string>friendrequest</string>
		<string>friends</string>
		<string>goodies</string>
		<string>help</string>
		<string>home</string>
		<string>im_account</string>
		<string>inbox</string>
		<string>invitations</string>
		<string>invite</string>
		<string>jobs</string>
		<string>list</string>
		<string>login</string>
		<string>logo</string>
		<string>logout</string>
		<string>me</string>
		<string>mentions</string>
		<string>messages</string>
		<string>mockview</string>
		<string>newtwitter</string>
		<string>notifications</string>
		<string>nudge</string>
		<string>oauth</string>
		<string>phoenix_search</string>
		<string>positions</string>
		<string>privacy</string>
		<string>public_timeline</string>
		<string>related_tweets</string>
		<string>replies</string>
		<string>retweeted_of_mine</string>
		<string>retweets</string>
		<string>retweets_by_others</string>
		<string>rules</string>
		<string>saved_searches</string>
		<string>search</string>
		<string>sent</string>
		<string>settings</string>
		<string>share</string>
		<string>signup</string>
		<string>signin</string>
		<string>similar_to</string>
		<string>statistics</string>
		<string>terms</string>
		<string>tos</string>
		<string>translate</string>
		<string>trends</string>
		<string>tweetbutton</string>
		<string>twttr</string>
		<string>update_discoverability</string>
		<string>users</string>
		<string>welcome</string>
		<string>who_to_follow</string>
		<string>widgets</string>
		<string>zendesk_auth</string>
		<string>media_signup</string>
	</array>
	<key>photo_size_limit</key>
	<string>3145728</string>
	<key>photo_sizes</key>
	<dict>
		<key>large</key>
		<dict>
			<key>h</key>
			<string>2048</string>
			<key>resize</key>
			<string>fit</string>
			<key>w</key>
			<string>1024</string>
		</dict>
		<key>medium</key>
		<dict>
			<key>h</key>
			<string>1200</string>
			<key>resize</key>
			<string>fit</string>
			<key>w</key>
			<string>600</string>
		</dict>
		<key>small</key>
		<dict>
			<key>h</key>
			<string>480</string>
			<key>resize</key>
			<string>fit</string>
			<key>w</key>
			<string>340</string>
		</dict>
		<key>thumb</key>
		<dict>
			<key>h</key>
			<string>150</string>
			<key>resize</key>
			<string>crop</string>
			<key>w</key>
			<string>150</string>
		</dict>
	</dict>
	<key>short_url_length</key>
	<string>22</string>
	<key>short_url_length_https</key>
	<string>23</string>
</dict>
</plist>
