<!DOCTYPE plist>
<plist>
<dict>
	<key>image</key>
	<array>
		<dict>
			<key>host</key>
			<array>
				<string>d.pr</string>
			</array>
			<key>path</key>
			<string>^i\/([A-Za-z0-9]+)$</string>
			<key>image</key>
			<string>$0/i/$1+</string>
			<key>thumb</key>
			<string>$0/i/$1/thumbnail</string>
			<key>thumb@2x</key>
			<string>$0/i/$1/small</string>
		</dict>
		<dict>
			<key>host</key>
			<array>
				<string>imgur.com</string>
				<string>filmot.com</string>
			</array>
			<key>path</key>
			<string>^(gallery\/)?([a-zA-Z]+)(\.(png|gif|jpe?g))?$</string>
			<key>image</key>
			<string>$scheme://i.$host/$2.png</string>
			<key>thumb</key>
			<string>$scheme://i.$host/$2t.png</string>
			<key>thumb@2x</key>
			<string>TODO</string>
		</dict>
		<dict>
			<key>host</key>
			<array>
				<string>i.imgur.com</string>
				<string>i.filmot.com</string>
			</array>
			<key>path</key>
			<string>^([a-zA-Z]+)[tsl]?(\.(png|gif|jpe?g))?$</string>
			<key>image</key>
			<string>$scheme://$host/$2.png</string>
			<key>thumb</key>
			<string>$scheme://$host/$2t.png</string>
			<key>thumb@2x</key>
			<string>$scheme://$host/$2l.png</string>
		</dict>
		<dict>
			<key>host</key>
			<array>
				<string>cl.ly</string>
			</array>
			<key>path</key>
			<string>^([a-zA-Z0-9]+)\/image\.(png|gif|jpe?g)$</string>
			<key>image</key>
			<string>$scheme://$host/$1/image.$2</string>
			<key>thumb</key>
			<string>$scheme://thumbs.$host/$1/image.$2</string>
			<key>thumb@2x</key>
			<string>$scheme://thumbs.$host/$1/image.$2</string>
		</dict>
		<dict>
			<key>host</key>
			<array>
				<string>dropbox.com</string>
				<string>www.dropbox.com</string>
				<string>dropboxusercontent.com</string>
			</array>
			<key>path</key>
			<string>s\/([a-zA-Z0-9]+)\/(.*)\.(png|gif|jpe?g|tiff?|bmp)</string>
			<key>image</key>
			<string>$0/s/$1/$2.$3?dl=1</string>
			<key>thumb</key>
			<string>$scheme://thumbs.$host/$1/image.$2</string>
			<key>thumb@2x</key>
			<string>$scheme://thumbs.$host/$1/image.$2</string>
		</dict>
	</array>
</dict>
</plist>
