<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Avenir Next</key>
	<dict>
		<key>bold</key>
		<string>AvenirNext-Bold</string>
		<key>preinstalled</key>
		<true/>
		<key>regular</key>
		<string>AvenirNext-Regular</string>
	</dict>
	<key>Baskerville</key>
	<dict>
		<key>regular</key>
		<string>Baskerville</string>
		<key>bold</key>
		<string>Baskerville-Bold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Cochin</key>
	<dict>
		<key>regular</key>
		<string>Cochin</string>
		<key>bold</key>
		<string>Cochin-Bold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Didot</key>
	<dict>
		<key>regular</key>
		<string>Didot</string>
		<key>bold</key>
		<string>Didot-Bold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>EuphemiaUCAS</key>
	<dict>
		<key>regular</key>
		<string>EuphemiaUCAS</string>
		<key>bold</key>
		<string>EuphemiaUCAS-Bold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Futura</key>
	<dict>
		<key>regular</key>
		<string>Futura-Medium</string>
		<key>bold</key>
		<string>Futura-CondensedExtraBold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Georgia</key>
	<dict>
		<key>regular</key>
		<string>Georgia</string>
		<key>bold</key>
		<string>Georgia-Bold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Gill Sans</key>
	<dict>
		<key>regular</key>
		<string>GillSans</string>
		<key>bold</key>
		<string>GillSans-Bold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Gurmukhi MN</key>
	<dict>
		<key>regular</key>
		<string>GurmukhiMN</string>
		<key>bold</key>
		<string>GurmukhiMN</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>ST Heiti TC</key>
	<dict>
		<key>regular</key>
		<string>STHeitiTC-Medium</string>
		<key>bold</key>
		<string>STHeitiTC-Light</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Helvetica Neue</key>
	<dict>
		<key>regular</key>
		<string>HelveticaNeue</string>
		<key>bold</key>
		<string>HelveticaNeue-Bold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Optima</key>
	<dict>
		<key>regular</key>
		<string>Optima-Regular</string>
		<key>bold</key>
		<string>Optima-Bold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Times New Roman</key>
	<dict>
		<key>regular</key>
		<string>TimesNewRomanPSMT</string>
		<key>bold</key>
		<string>TimesNewRomanPS-BoldMT</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Trebuchet MS</key>
	<dict>
		<key>regular</key>
		<string>TrebuchetMS</string>
		<key>bold</key>
		<string>TrebuchetMS-Bold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Verdana</key>
	<dict>
		<key>regular</key>
		<string>Verdana</string>
		<key>bold</key>
		<string>Verdana-Bold</string>
		<key>preinstalled</key>
		<true/>
	</dict>
	<key>Book Antiqua</key>
	<dict>
		<key>regular</key>
		<string>BookAntiqua</string>
		<key>bold</key>
		<string>BookAntiqua-Bold</string>
		<key>preinstalled</key>
		<false/>
	</dict>
	<key>Bookman Old Style</key>
	<dict>
		<key>regular</key>
		<string>BookmanOldStyle</string>
		<key>bold</key>
		<string>BookmanOldStyle-Bold</string>
		<key>preinstalled</key>
		<false/>
	</dict>
	<key>Century Gothic</key>
	<dict>
		<key>regular</key>
		<string>CenturyGothic</string>
		<key>bold</key>
		<string>CenturyGothic-Bold</string>
		<key>preinstalled</key>
		<false/>
	</dict>
	<key>Century Schoolbook</key>
	<dict>
		<key>regular</key>
		<string>CenturySchoolbook</string>
		<key>bold</key>
		<string>CenturySchoolbook-Bold</string>
		<key>preinstalled</key>
		<false/>
	</dict>
	<key>Comic Sans MS</key>
	<dict>
		<key>regular</key>
		<string>ComicSansMS</string>
		<key>bold</key>
		<string>ComicSansMS-Bold</string>
		<key>preinstalled</key>
		<false/>
	</dict>
	<key>Iowan Old Style</key>
	<dict>
		<key>regular</key>
		<string>IowanOldStyle</string>
		<key>bold</key>
		<string>IowanOldStyle-Black</string>
		<key>preinstalled</key>
		<false/>
	</dict>
	<key>Lucida Grande</key>
	<dict>
		<key>regular</key>
		<string>LucidaGrande</string>
		<key>bold</key>
		<string>LucidaGrande-Bold</string>
		<key>preinstalled</key>
		<false/>
	</dict>
	<key>PT Sans</key>
	<dict>
		<key>regular</key>
		<string>PTSans</string>
		<key>bold</key>
		<string>PTSans-Bold</string>
		<key>preinstalled</key>
		<false/>
	</dict>
	<key>Tahoma</key>
	<dict>
		<key>regular</key>
		<string>Tahoma</string>
		<key>bold</key>
		<string>TahomaNegreta</string>
		<key>preinstalled</key>
		<false/>
	</dict>
	<key>Tw Cen MT</key>
	<dict>
		<key>regular</key>
		<string>TwCenMT</string>
		<key>bold</key>
		<string>TwCenMT-Bold</string>
		<key>preinstalled</key>
		<false/>
	</dict>
</dict>
</plist>
