<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>group</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>group</string>
			<key>headerClass</key>
			<string>HBAPAboutHeaderView</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>group</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>Aphelion was made with all the &lt;3 in the world by these members of HASHBANG Productions.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>group</string>
			<key>label</key>
			<string>Lead Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>custom</string>
			<key>cellClass</key>
			<string>HBAPAboutUserTableViewCell</string>
			<key>userID</key>
			<string>103767197</string>
			<key>screenName</key>
			<string>thekirbylover</string>
			<key>realName</key>
			<string>Adam D (kirb)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>group</string>
			<key>label</key>
			<string>Developer/Designer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>custom</string>
			<key>cellClass</key>
			<string>HBAPAboutUserTableViewCell</string>
			<key>userID</key>
			<string>19558701</string>
			<key>screenName</key>
			<string>insanj</string>
			<key>realName</key>
			<string>Julian Weiss</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>group</string>
			<key>label</key>
			<string>Naming</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>custom</string>
			<key>cellClass</key>
			<string>HBAPAboutUserTableViewCell</string>
			<key>userID</key>
			<string>327671060</string>
			<key>screenName</key>
			<string>roktheworld2714</string>
			<key>realName</key>
			<string>Kyle</string>
		</dict>
	</array>
	<key>title</key>
	<string>About</string>
</dict>
</plist>
