<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blue</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<real>164</real>
			<real>214</real>
			<real>251</real>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>86</integer>
			<integer>86</integer>
			<integer>86</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>86</integer>
			<integer>86</integer>
			<integer>86</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarBackgroundColor</key>
		<array>
			<integer>151</integer>
			<integer>238</integer>
			<integer>206</integer>
		</array>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<real>174</real>
			<real>224</real>
			<real>261</real>
		</array>
	</dict>
	<key>Dark (Monokai)</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<real>39</real>
			<real>40</real>
			<real>34</real>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>117</integer>
			<integer>113</integer>
			<integer>94</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>249</integer>
			<integer>38</integer>
			<integer>114</integer>
		</array>
		<key>highlightColor</key>
		<array>
			<integer>73</integer>
			<integer>72</integer>
			<integer>62</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>textColor</key>
		<array>
			<integer>248</integer>
			<integer>248</integer>
			<integer>242</integer>
		</array>
		<key>tintColor</key>
		<array>
			<real>49</real>
			<real>50</real>
			<real>44</real>
		</array>
	</dict>
	<key>Green</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<real>149</real>
			<real>212</real>
			<real>79</real>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>86</integer>
			<integer>86</integer>
			<integer>86</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>86</integer>
			<integer>86</integer>
			<integer>86</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarBackgroundColor</key>
		<array>
			<integer>215</integer>
			<integer>248</integer>
			<integer>118</integer>
		</array>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<real>159</real>
			<real>222</real>
			<real>89</real>
		</array>
	</dict>
	<key>Red</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<real>255</real>
			<real>116</real>
			<real>122</real>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>86</integer>
			<integer>86</integer>
			<integer>86</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>86</integer>
			<integer>86</integer>
			<integer>86</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarBackgroundColor</key>
		<array>
			<integer>117</integer>
			<integer>117</integer>
			<integer>117</integer>
		</array>
		<key>sidebarTextColor</key>
		<array>
			<integer>231</integer>
			<integer>185</integer>
			<integer>234</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<real>265</real>
			<real>126</real>
			<real>132</real>
		</array>
	</dict>
	<key>White</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<real>255</real>
			<real>255</real>
			<real>255</real>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>170</integer>
			<integer>170</integer>
			<integer>170</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>170</integer>
			<integer>170</integer>
			<integer>170</integer>
		</array>
		<key>highlightColor</key>
		<array>
			<integer>217</integer>
			<integer>217</integer>
			<integer>217</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarBackgroundColor</key>
		<array>
			<integer>117</integer>
			<integer>117</integer>
			<integer>117</integer>
		</array>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<real>265</real>
			<real>265</real>
			<real>265</real>
		</array>
	</dict>
	<key>Yellow</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<real>251</real>
			<real>251</real>
			<real>119</real>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>86</integer>
			<integer>86</integer>
			<integer>86</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>86</integer>
			<integer>86</integer>
			<integer>86</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarBackgroundColor</key>
		<array>
			<integer>255</integer>
			<integer>163</integer>
			<integer>70</integer>
		</array>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<real>261</real>
			<real>261</real>
			<real>129</real>
		</array>
	</dict>
</dict>
</plist>
