<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Standard</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>170</integer>
			<integer>170</integer>
			<integer>170</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>170</integer>
			<integer>170</integer>
			<integer>170</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>217</integer>
			<integer>217</integer>
			<integer>217</integer>
		</array>
		<key>sidebarBackgroundColor</key>
		<array>
			<integer>117</integer>
			<integer>117</integer>
			<integer>117</integer>
		</array>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>0</integer>
			<integer>122</integer>
			<integer>255</integer>
		</array>
	</dict>
	<key>Active4D</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>211</integer>
			<integer>52</integer>
			<integer>53</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>0</integer>
			<integer>102</integer>
			<integer>153</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>highlightColor</key>
		<array>
			<integer>186</integer>
			<integer>214</integer>
			<integer>253</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>102</integer>
			<integer>204</integer>
			<integer>255</integer>
		</array>
	</dict>
	<key>All Hallow's Eve</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>204</integer>
			<integer>120</integer>
			<integer>51</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>115</integer>
			<integer>89</integer>
			<integer>126</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>85</integer>
			<integer>85</integer>
			<integer>85</integer>
		</array>
	</dict>
	<key>Amy</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>32</integer>
			<integer>0</integer>
			<integer>32</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>64</integer>
			<integer>64</integer>
			<integer>128</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>128</integer>
			<integer>160</integer>
			<integer>255</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>128</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>230</integer>
			<integer>230</integer>
			<integer>230</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>153</integer>
			<integer>153</integer>
			<integer>153</integer>
		</array>
	</dict>
	<key>Blackboard</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>12</integer>
			<integer>16</integer>
			<integer>33</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>174</integer>
			<integer>174</integer>
			<integer>174</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>37</integer>
			<integer>59</integer>
			<integer>118</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>248</integer>
			<integer>248</integer>
			<integer>248</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
	</dict>
	<key>Brilliance Black ㊷</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
		</array>
		<key>comment</key>
		<string>Thomas Aylott ㊷ subtleGradient.com</string>
		<key>dimTextColor</key>
		<array>
			<integer>51</integer>
			<integer>51</integer>
			<integer>51</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>6</integer>
			<integer>64</integer>
			<integer>62</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>23</integer>
			<integer>23</integer>
			<integer>230</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>205</integer>
			<integer>205</integer>
			<integer>205</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>128</integer>
			<integer>61</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>Brilliance Dull</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
		</array>
		<key>comment</key>
		<string>by Thomas Aylott subtleGradient.com</string>
		<key>dimTextColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>25</integer>
			<integer>43</integer>
			<integer>42</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>46</integer>
			<integer>46</integer>
			<integer>230</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>205</integer>
			<integer>205</integer>
			<integer>205</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>83</integer>
			<integer>63</integer>
			<integer>44</integer>
		</array>
	</dict>
	<key>Cobalt</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>0</integer>
			<integer>34</integer>
			<integer>64</integer>
		</array>
		<key>comment</key>
		<string>Created by Jacob Rus.  Based on ‘Slate’ by Wilson Miner</string>
		<key>dimTextColor</key>
		<array>
			<integer>0</integer>
			<integer>136</integer>
			<integer>255</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>246</integer>
			<integer>170</integer>
			<integer>17</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>179</integer>
			<integer>101</integer>
			<integer>57</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>115</integer>
			<integer>129</integer>
			<integer>125</integer>
		</array>
	</dict>
	<key>Dawn</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>245</integer>
			<integer>245</integer>
			<integer>245</integer>
		</array>
		<key>comment</key>
		<string>Dawn</string>
		<key>dimTextColor</key>
		<array>
			<integer>90</integer>
			<integer>82</integer>
			<integer>95</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>121</integer>
			<integer>73</integer>
			<integer>56</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>highlightColor</key>
		<array>
			<integer>116</integer>
			<integer>150</integer>
			<integer>207</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>8</integer>
			<integer>8</integer>
			<integer>8</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>129</integer>
			<integer>31</integer>
			<integer>36</integer>
		</array>
	</dict>
	<key>Eiffel</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>0</integer>
			<integer>180</integer>
			<integer>24</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>104</integer>
			<integer>118</integer>
			<integer>135</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>highlightColor</key>
		<array>
			<integer>195</integer>
			<integer>220</integer>
			<integer>255</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>38</integer>
			<integer>179</integer>
			<integer>26</integer>
		</array>
	</dict>
	<key>Espresso Libre</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>42</integer>
			<integer>33</integer>
			<integer>28</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>0</integer>
			<integer>102</integer>
			<integer>255</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>104</integer>
			<integer>118</integer>
			<integer>135</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>195</integer>
			<integer>220</integer>
			<integer>255</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>189</integer>
			<integer>174</integer>
			<integer>157</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>47</integer>
			<integer>228</integer>
			<integer>32</integer>
		</array>
	</dict>
	<key>IDLE</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>145</integer>
			<integer>145</integer>
			<integer>145</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>255</integer>
			<integer>86</integer>
			<integer>0</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>highlightColor</key>
		<array>
			<integer>186</integer>
			<integer>214</integer>
			<integer>253</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>0</integer>
			<integer>163</integer>
			<integer>63</integer>
		</array>
	</dict>
	<key>LAZY</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>140</integer>
			<integer>134</integer>
			<integer>143</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>59</integer>
			<integer>91</integer>
			<integer>181</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>highlightColor</key>
		<array>
			<integer>227</integer>
			<integer>252</integer>
			<integer>141</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>103</integer>
			<integer>30</integer>
			<integer>187</integer>
		</array>
	</dict>
	<key>Mac Classic</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>0</integer>
			<integer>102</integer>
			<integer>255</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>104</integer>
			<integer>118</integer>
			<integer>135</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>highlightColor</key>
		<array>
			<integer>195</integer>
			<integer>220</integer>
			<integer>255</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>136</integer>
			<integer>136</integer>
			<integer>136</integer>
		</array>
	</dict>
	<key>MagicWB (Amiga)</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>150</integer>
			<integer>150</integer>
			<integer>150</integer>
		</array>
		<key>comment</key>
		<string>Inspired by the original 8 MagicWB colors from Martin Huttenloher</string>
		<key>dimTextColor</key>
		<array>
			<integer>141</integer>
			<integer>46</integer>
			<integer>117</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>206</integer>
			<integer>206</integer>
			<integer>206</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>highlightColor</key>
		<array>
			<integer>177</integer>
			<integer>177</integer>
			<integer>177</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>255</integer>
			<integer>169</integer>
			<integer>149</integer>
		</array>
	</dict>
	<key>Monokai</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>39</integer>
			<integer>40</integer>
			<integer>34</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>117</integer>
			<integer>113</integer>
			<integer>94</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>249</integer>
			<integer>38</integer>
			<integer>114</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>73</integer>
			<integer>72</integer>
			<integer>62</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>248</integer>
			<integer>248</integer>
			<integer>242</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>230</integer>
			<integer>219</integer>
			<integer>116</integer>
		</array>
	</dict>
	<key>Pastels on Dark</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>33</integer>
			<integer>30</integer>
			<integer>30</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>144</integer>
			<integer>144</integer>
			<integer>144</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>105</integer>
			<integer>105</integer>
			<integer>250</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>115</integer>
			<integer>89</integer>
			<integer>126</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>218</integer>
			<integer>218</integer>
			<integer>218</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>173</integer>
			<integer>147</integer>
			<integer>97</integer>
		</array>
	</dict>
	<key>Slush &amp; Poppies</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>241</integer>
			<integer>241</integer>
			<integer>241</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>64</integer>
			<integer>96</integer>
			<integer>64</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>32</integer>
			<integer>96</integer>
			<integer>160</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>highlightColor</key>
		<array>
			<integer>176</integer>
			<integer>176</integer>
			<integer>255</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>192</integer>
			<integer>48</integer>
			<integer>48</integer>
		</array>
	</dict>
	<key>Solarized (dark)</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>0</integer>
			<integer>43</integer>
			<integer>54</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>88</integer>
			<integer>110</integer>
			<integer>117</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>181</integer>
			<integer>137</integer>
			<integer>0</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>7</integer>
			<integer>54</integer>
			<integer>66</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>131</integer>
			<integer>148</integer>
			<integer>150</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>88</integer>
			<integer>110</integer>
			<integer>117</integer>
		</array>
	</dict>
	<key>Solarized (light)</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>253</integer>
			<integer>246</integer>
			<integer>227</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>88</integer>
			<integer>110</integer>
			<integer>117</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>181</integer>
			<integer>137</integer>
			<integer>0</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>highlightColor</key>
		<array>
			<integer>7</integer>
			<integer>54</integer>
			<integer>66</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>88</integer>
			<integer>110</integer>
			<integer>117</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>220</integer>
			<integer>50</integer>
			<integer>47</integer>
		</array>
	</dict>
	<key>SpaceCadet</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>13</integer>
			<integer>13</integer>
			<integer>13</integer>
		</array>
		<key>comment</key>
		<string>Created by Alex Ross</string>
		<key>dimTextColor</key>
		<array>
			<integer>71</integer>
			<integer>60</integer>
			<integer>69</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>114</integer>
			<integer>128</integer>
			<integer>89</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>64</integer>
			<integer>0</integer>
			<integer>47</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>221</integer>
			<integer>230</integer>
			<integer>207</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>128</integer>
			<integer>89</integer>
			<integer>120</integer>
		</array>
	</dict>
	<key>Sunburst</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>comment</key>
		<string>(π) Soryu, 2005</string>
		<key>dimTextColor</key>
		<array>
			<integer>246</integer>
			<integer>123</integer>
			<integer>55</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>134</integer>
			<integer>147</integer>
			<integer>165</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>255</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>248</integer>
			<integer>248</integer>
			<integer>248</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>73</integer>
			<integer>73</integer>
			<integer>73</integer>
		</array>
	</dict>
	<key>Twilight</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>95</integer>
			<integer>90</integer>
			<integer>96</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>134</integer>
			<integer>147</integer>
			<integer>165</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>221</integer>
			<integer>240</integer>
			<integer>255</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>248</integer>
			<integer>248</integer>
			<integer>248</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>73</integer>
			<integer>73</integer>
			<integer>73</integer>
		</array>
	</dict>
	<key>Vibrant Ink</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>119</integer>
			<integer>44</integer>
			<integer>183</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>204</integer>
			<integer>204</integer>
			<integer>102</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>53</integer>
			<integer>73</integer>
			<integer>60</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>85</integer>
			<integer>85</integer>
			<integer>85</integer>
		</array>
	</dict>
	<key>Zenburnesque</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>64</integer>
			<integer>64</integer>
			<integer>64</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>112</integer>
			<integer>144</integer>
			<integer>112</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>160</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>highlightColor</key>
		<array>
			<integer>160</integer>
			<integer>160</integer>
			<integer>192</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>222</integer>
			<integer>222</integer>
			<integer>222</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>255</integer>
			<integer>32</integer>
			<integer>32</integer>
		</array>
	</dict>
	<key>iPlastic</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>238</integer>
			<integer>238</integer>
			<integer>238</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>0</integer>
			<integer>102</integer>
			<integer>255</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>255</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>highlightColor</key>
		<array>
			<integer>186</integer>
			<integer>214</integer>
			<integer>253</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>255</integer>
			<integer>0</integer>
			<integer>128</integer>
		</array>
	</dict>
</dict>
</plist>
