<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blue</key>
	<dict>
		<key>dimTextColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>21</integer>
			<integer>112</integer>
			<integer>158</integer>
		</array>
	</dict>
	<key>Gold</key>
	<dict>
		<key>dimTextColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>180</integer>
			<integer>140</integer>
			<integer>91</integer>
		</array>
	</dict>
	<key>Green</key>
	<dict>
		<key>dimTextColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarBackgroundColor</key>
		<array>
			<integer>215</integer>
			<integer>248</integer>
			<integer>118</integer>
		</array>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>85</integer>
			<integer>149</integer>
			<integer>43</integer>
		</array>
	</dict>
	<key>Monokai</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>39</integer>
			<integer>40</integer>
			<integer>34</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>117</integer>
			<integer>113</integer>
			<integer>94</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>249</integer>
			<integer>38</integer>
			<integer>114</integer>
		</array>
		<key>highlightColor</key>
		<array>
			<integer>73</integer>
			<integer>72</integer>
			<integer>62</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>textColor</key>
		<array>
			<integer>248</integer>
			<integer>248</integer>
			<integer>242</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>230</integer>
			<integer>219</integer>
			<integer>116</integer>
		</array>
	</dict>
	<key>Red</key>
	<dict>
		<key>dimTextColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarTextColor</key>
		<array>
			<integer>231</integer>
			<integer>185</integer>
			<integer>234</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>178</integer>
			<integer>50</integer>
			<integer>50</integer>
		</array>
	</dict>
	<key>Silver</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>151</integer>
			<integer>153</integer>
			<integer>153</integer>
		</array>
	</dict>
	<key>Space Gray</key>
	<dict>
		<key>dimTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>isDark</key>
		<true/>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>248</integer>
			<integer>248</integer>
			<integer>248</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>56</integer>
			<integer>55</integer>
			<integer>49</integer>
		</array>
	</dict>
	<key>White</key>
	<dict>
		<key>backgroundColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>dimTextColor</key>
		<array>
			<integer>170</integer>
			<integer>170</integer>
			<integer>170</integer>
		</array>
		<key>groupedBackgroundColor</key>
		<array>
			<integer>239</integer>
			<integer>239</integer>
			<integer>244</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>170</integer>
			<integer>170</integer>
			<integer>170</integer>
		</array>
		<key>highlightColor</key>
		<array>
			<integer>217</integer>
			<integer>217</integer>
			<integer>217</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarBackgroundColor</key>
		<array>
			<integer>117</integer>
			<integer>117</integer>
			<integer>117</integer>
		</array>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>Yellow</key>
	<dict>
		<key>dimTextColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>hashtagColor</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>isDark</key>
		<false/>
		<key>sidebarTextColor</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>tintColor</key>
		<array>
			<integer>178</integer>
			<integer>165</integer>
			<integer>50</integer>
		</array>
	</dict>
</dict>
</plist>
